In [1]:
#libraries
import numpy as np
import pandas as pd
from pathlib import Path
import pandas as pd
import os

In [2]:
df = pd.read_csv("netflix_userbase.csv")

In [3]:
df.head()

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,1,Basic,10,15-01-22,10-06-23,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,05-09-21,22-06-23,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,28-02-23,27-06-23,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,10-07-22,26-06-23,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,01-05-23,28-06-23,Germany,33,Male,Smartphone,1 Month

In [4]:
df.isnull().sum()

User ID              0
Subscription Type    0
Monthly Revenue      0
Join Date            0
Last Payment Date    0
Country              0
Age                  0
Gender               0
Device               0
Plan Duration        0
dtype: int64

In [5]:
df.shape

(2500, 10)

In [6]:
column_rename = {"User ID" : "user_id" , 
                 "Subscription Type" : "subscription_type",
                 "Monthly Revenue" : "monthly_revenue",
                 "Join Date" : "join_date",
                 "Country" : "country",
                 "Age" : "age",
                 "Gender" : "gender",
                 "Device" : "device",
                 "Last Payment Date" : "last_payment_date",
                 "Plan Duration" : "plan_duration"
                }
df = df.rename(columns = column_rename)

In [7]:
df.head()

,user_id,subscription_type,monthly_revenue,join_date,last_payment_date,country,age,gender,device,plan_duration
0,1,Basic,10,15-01-22,10-06-23,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,05-09-21,22-06-23,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,28-02-23,27-06-23,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,10-07-22,26-06-23,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,01-05-23,28-06-23,Germany,33,Male,Smartphone,1 Month

In [10]:
df['plan_duration'].unique()

array(['1 Month'], dtype=object)

In [8]:
#data normalization 
#subscription type table
subscription_dim = df['subscription_type'].unique()
subscription_type = pd.DataFrame({'subscription_type' : subscription_dim})
subscription_type['subscription_id'] = subscription_type.index
#country table
country_dim = df['country'].unique()
country = pd.DataFrame({'country' : country_dim})
country['country_id'] = country.index
#device type table
device = df['device'].unique()
device_type = pd.DataFrame({'device' : device})
device_type['device_id'] = device_type.index

In [9]:
#merge
merged_df = df.merge(subscription_type, on = 'subscription_type', how = 'left')
merged_df = merged_df.merge(country, on = 'country', how = 'left')
merged_df = merged_df.merge(device_type, on = 'device', how = 'left')
merged_df = merged_df.drop(columns = ['subscription_type', 'country', 'device'])
merged_df.head()

,user_id,monthly_revenue,join_date,last_payment_date,age,gender,plan_duration,subscription_id,country_id,device_id
0,1,10,15-01-22,10-06-23,28,Male,1 Month,0,0,0
1,2,15,05-09-21,22-06-23,35,Female,1 Month,1,1,1
2,3,12,28-02-23,27-06-23,42,Male,1 Month,2,2,2
3,4,12,10-07-22,26-06-23,51,Female,1 Month,2,3,3
4,5,10,01-05-23,28-06-23,33,Male,1 Month,0,4,0

In [17]:
subscription_type.head()

  subscription_type  subscription_id
0             Basic                0
1           Premium                1
2          Standard                2

In [16]:
def save_dataframes_to_csv(dataframes_list):

    for i, df in enumerate(dataframes_list, start=1):
        file_path = f"{df.name}.csv"
        df.to_csv(file_path, index=False)
        print(f"DataFrame {df.name} saved as CSV: {file_path}")

# Example usage:
# Assuming you have four DataFrames named df1, df2, df3, df4
subscription_type.name = 'subscription_type'
country.name = 'country'
device_type.name = 'device_type'
merged_df.name ='user'
dataframes = [subscription_type, country, device_type, merged_df]

save_dataframes_to_csv(dataframes)

DataFrame subscription_type saved as CSV: subscription_type.csv
DataFrame country saved as CSV: country.csv
DataFrame device_type saved as CSV: device_type.csv
DataFrame user saved as CSV: user.csv